<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" media="screen and (max-width:768px)" href="/css/mobile.css">
  <link rel="icon" href="/img/logoDeltha.ico">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <!-- Link CSS JS -->
  <link rel="stylesheet" href="/css/generalStyles.css">
  <link rel="stylesheet" href="/css/stock.css">
  <title>Deltha Car´s</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

  <!-- Nav -->
  <%- include('./shared/nav.ejs') %>

    <!-- Automoviles -->
    <section>
      <div class="container-fluid header-container d-flex justify-content-center align-items-center">
        <div class="header-content-container">
          <div class="title-container">
            <h1>
              STOCK DELTHACARS
            </h1>
          </div>
        </div>
        <div class="trian"></div>
      </div>
    </section>

    <!-- Esta es la seccion que renderiza los automoviles -->
    <section class="cars-section top-container">
      <div class="container">
        <div class="margin-top">
          <div class="title-holder">
            <h2 class="auto-tilte">AUTOMOVILES</h2>
          </div>
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% for (let i=0; i < stock.automoviles.length; i+=3) { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                  <div class="container">
                    <div class="card-container row">
                      <% for (let j=i; j < i+3 && j < stock.automoviles.length; j++) { %>
                        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                          <a class="link" href="/renderCar/<%= stock.automoviles[j].id %>">
                            <div class="card" style="width: 18rem; margin-bottom: 20px;">
                              <img src="<%= stock.automoviles[j].imagen %>" class="card-img-top"
                                alt="<%= stock.automoviles[j].nombre %>">
                              <div class="card-body">
                                <h5 class="card-title">
                                  <%= stock.automoviles[j].nombre %>
                                </h5>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Año: <%= stock.automoviles[j].anio %>
                                  </li>
                                  <li class="list-group-item">Marca: <%= stock.automoviles[j].marca %>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </a>
                        </div>
                        <% } %>
                    </div>
                  </div>
                </div>
                <% } %>
  
            </div>
            <button class="carousel-control-prev control-btn" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon control-btn" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-5 mb-2">
      <div class="title-holder">
        <h2 class="auto-tilte">NUEVO STOCK REPUESTOS</h2>
      </div>
      <div class="container center-this">
        <div class="">
          <label class="ms-2 tabSelector" for="tabSelector">Busca en nuestro nuevo stock!</label>
          <div class="center-this">
            <select class="form-select" id="tabSelector">
              <option value="#tab1P" selected>Abrazaderas</option>
              <option value="#tab2P">Alternadores</option>
              <option value="#tab3P">Arranques</option>
              <option value="#tab4P">Bobinas</option>
              <option value="#tab5P">Bombilleras Led</option>
              <option value="#tab6P">Bujias</option>
              <option value="#tab7P">Cintas Led</option>
              <option value="#tab8P">Conectores</option>
              <option value="#tab9P">Correa Accesorios</option>
              <option value="#tab10P">Correa Repartición</option>
              <option value="#tab11P">Elevadores Relay V12</option>
              <option value="#tab12P">Embolo</option>
              <option value="#tab13P">Filtros Gasolina</option>
              <option value="#tab14P">Filtros Aire</option>
              <option value="#tab15P">Inyectores</option>
              <option value="#tab16P">Liquido Frenos</option>
              <option value="#tab17P">Mangueras</option>
              <option value="#tab18P">Patin Kit Repartición</option>
              <option value="#tab19P">Pines</option>
              <option value="#tab20P">Porta Escobillas</option>
              <option value="#tab21P">Retenedores</option>
              <option value="#tab22P">Sensores</option>
              <option value="#tab23P">Tacometro</option>
              <option value="#tab24P">Terminales</option>
              <option value="#tab25P">Tornilleria Cilindrica</option>
              <option value="#tab26P">Varios</option>
              <option value="#tab27P">Vendix</option>
              <option value="#tab28P">Wasa</option>
            </select>
          </div>
        </div>
      </div>
    </section>

    
    <div class="container">

      <div class="tab-content">
        <div class="tab-pane mt-5 fade mb-5 show active" id="tab1P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.abrazaderas.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab2P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.alternadores.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab3P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.arranques.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab4P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.bobinas.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab5P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.bombillerasLed.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab6P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.bujias.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab7P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.cintasLed.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab8P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.conectores.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab9P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.correaAccesorios.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab10P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.correasReparticion.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab11P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.elevadoresRelay12V.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab12P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.embolo.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab13P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.filtrosGasolina.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab14P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.filtrosAire.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab15P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.inyectores.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab16P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.liquidoFrenos.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab17P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.mangueras.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab18P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.patinkitReparacion.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab19P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.pines.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab20P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.portaEscobillas.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab21P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.retenedores.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab22P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.sensores.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab23P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.tacometros.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab24P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.terminales.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab25P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.tornilleriaCilindrica.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab26P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.varios.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab27P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.vendix.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>

        <div class="tab-pane mt-5 fade mb-5" id="tab28P" role="tabpanel" aria-labelledby="tab1P">
          <table class="table table-hover">
            <thead class="change-bg">

              <tr>
                <th scope="col">Nombre </th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
              </tr>

            </thead>
            <tbody>
              <% stock.wasa.forEach(product=> { %>
                <tr>
                  <th scope="row">
                    <%= product.nombre %>
                  </th>
                  <td>
                    <%= product.categoria %>
                  </td>
                  <td>
                    $<%= product.precioVenta %>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>


        </div>





        <!-- ... Agregar contenido para otras pestañas -->
      </div>
    </div>


    <!-- Prodcutos -->

    <%- include('./shared/footer.ejs') %>




      <script>
        $(document).ready(function () {
          $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
          });
        });
      </script>

      <script>
        $(document).ready(function () {
          $('#tabSelector').change(function () {
            var targetTabId = $(this).val();
            $('.tab-content .tab-pane').removeClass('show active');
            $(targetTabId).addClass('show active');
          });
        });
      </script>


      <!-- HTML y EJS existentes -->


      <!-- Bootstrap JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>